(
    // Maximum number of notifications to show at any one time.
    // A value of 0 means that there is no limit.
    max_notifications: 0,

    // The default timeout, in miliseconds, for notifications that don't have an initial timeout set.
    // 1000ms = 1s.
    timeout: 5000,

    // How should we handle `expire_timeout` values of zero?
    // `UseDefault`: use `timeout`.
    // `NeverExpire`: show this notification forever.
    // The latter is technically correct according to the notification spec: https://specifications.freedesktop.org/notification-spec/notification-spec-latest.html
    zero_timeout_behavior: NeverExpire,

    // `poll_interval` decides decides how often (in milliseconds) Wired checks events,
    // draws notifications (if necessary) -- the update loop while any notification is present.
    // Note that when no notifications are present, Wired polls at `idle_poll_interval` instead.
    // 16ms ~= 60hz / 7ms ~= 144hz.
    poll_interval: 16,

    // The interval at which wired updates when no notifications/windows are present.
    //idle_poll_interval: 500,

    // Wired will pause notifications if you are idle (no mouse or keyboard input) for longer than
    // `idle_threshold` seconds.
    // Notifications will spawn paused, and have to be manually unpaused or cleared by the user,
    // unless `unpause_on_input` is also set.
    //notifications_spawn_paused: false,

    // Unpause notifications when we receive any input after being idle for longer than 1 second.
    // Note that no distinction is made between manually paused notifications and idle paused/spawned notifications.
    //unpause_on_input: false,

    // Enable/disable replacement functionality.
    // If this is disabled, replacement requests will just send a new notification.
    // E.g., with replacing_enabled: true, Pidgin will only show the latest message from each contact,
    // instead of sending a new one for each message.
    // Default: true
    //replacing_enabled: true,

    // Whether a notification should reset its timeout when it is replaced.
    // No effect if replacing_enabled is set to false.
    // Default: false
    //replacing_resets_timeout: false,

    // Some apps/programs close notifications on their own by sending a request to dbus.
    // Sometimes this is not desired.
    // Default: true
    //closing_enabled: true,

    // How many notifications are kept in history.
    // Each notification is roughly 256 bytes (excluding buffers!), so there's some math to do here.
    // Default: 100
    //history_length: 100,

    // When a `NotificationBlock` has monitorr: -1 (i.e. should follow active monitor), then what input
    // should we use to determine the active monitor?
    // Options: Mouse, Window
    // Default: Mouse
    //focus_follows: Mouse,

    // Enable printing notification data to a file.
    // Useful for scripting purposes.
    // The data is written as JSON.
    // Default: None
    print_to_file: "/home/georg/Notifications/wired.log",

    // Minimum window width and height.  This is used to create the base rect that the notification
    // grows within.
    // The notification window will never be smaller than this.
    // A value of 1 means that the window will generally always resize with notification, unless
    // you have a 1x1 pixel notification...
    // Generally, you shouldn't need to set this.
    //min_window_width: 1,
    //min_window_height: 1,

    // Trim whitespace in received notification text, since some clients like to send whitespace, which we usually don't actually want.
    //trim_whitespace: true,

    // Enable/disable debug rendering.
    debug: false,
    debug_color: Color(r: 0.0, g: 1.0, b: 0.0, a: 1.0), // Primary color for debug rectangles.
    debug_color_alt: Color(r: 1.0, g: 0.0, b: 0.0, a: 1.0), // Secondary color for debug rectangles.

    layout_blocks: [
        (
            name: "root",
            parent: "",
            hook: Hook(parent_anchor: TL, self_anchor: TL),
            offset: Vec2(x: 6.0, y: 45.0),
            render_anti_criteria: [Tag("sys_notify")],
            params: NotificationBlock((
                monitor: 0,
                border_width: 2,
                border_rounding: 4.0,
                background_color: Color(hex: "#000000"),
                border_color: Color(hex: "#214764"),
                border_color_low: Color(hex: "#214764"),
                border_color_critical: Color(hex: "#fe2d00"),
                border_color_paused: Color(hex: "#fabd2f"),

                gap: Vec2(x: 0.0, y: 8.0),
                notification_hook: Hook(parent_anchor: BL, self_anchor: TL),
            )),
        ),

        (
            name: "image",
            parent: "root",
            hook: Hook(parent_anchor: TL, self_anchor: TL),
            offset: Vec2(x: 0.0, y: 0.0),
            params: ImageBlock((
                image_type: Hint,
                padding: Padding(left: 7.0, right: 0.0, top: 7.0, bottom: 7.0),
                rounding: 3.0,
                scale_width: 48,
                scale_height: 48,
                filter_mode: Lanczos3,
            )),
        ),

        (
            name: "summary",
            parent: "image",
            hook: Hook(parent_anchor: MR, self_anchor: BL),
            offset: Vec2(x: 0.0, y: 0.0),
            // https://github.com/Toqozz/wired-notify/wiki/TextBlock
            params: ScrollingTextBlock((
                text: "%b",
                font: "Hasklug Nerd Font Bold 11",
                color: Color(hex: "#ffffff"),
                color_hovered: Color(hex: "#fbf1c7"),
                padding: Padding(left: 7.0, right: 0.0, top: 5.0, bottom: 5.0),
                width: (min: -1, max: 250),
                scroll_speed: 0.1,
                lhs_dist: 35.0,
                rhs_dist: 35.0,
                scroll_t: 1.0,
            ))
        ),
        (
            name: "time",
            parent: "summary",
            hook: Hook(parent_anchor: TR, self_anchor: TL),
            offset: Vec2(x: 0.0, y: 0.0),
            // https://github.com/Toqozz/wired-notify/wiki/TextBlock
            params:  TextBlock((
                text: "%t(%H:%M:%S)",
                font: "Hasklug Nerd Font Mono Bold Italic 9",
                color: Color(hex: "#ffffff"),
                color_hovered: Color(hex: "#fbf1c7"),
                padding: Padding(left: 3.0, right: 7.0, top: 6.0, bottom: 0.0),
                dimensions: (width: (min: -1, max: -1), height: (min: -1, max: -1)),
            ))
        ),
        (
            name: "body",
            parent: "summary",
            hook: Hook(parent_anchor: BL, self_anchor: TL),
            offset: Vec2(x: 0.0, y: -3.0),
            // https://github.com/Toqozz/wired-notify/wiki/ScrollingTextBlock
            params: ScrollingTextBlock((
                text: "%b",
                font: "Hasklug Nerd Font 11",
                color: Color(hex: "#ffffff"),
                color_hovered: Color(hex: "#fbf1c7"),
                padding: Padding(left: 7.0, right: 7.0, top: 5.0, bottom: 7.0),
                width: (min: 150, max: 250),
                scroll_speed: 0.1,
                lhs_dist: 35.0,
                rhs_dist: 35.0,
                scroll_t: 1.0,
            )),
        ),
        (
            name: "sys_notify_root",
            parent: "",
            hook: Hook(parent_anchor: MM, self_anchor: MM),
            offset: Vec2(x: 0.0, y: 0.0),
            render_criteria: [Tag("sys_notify")],
            params: NotificationBlock((
                    monitor: 0,
                    border_width: 2,
                    border_rounding: 0,
                    background_color: Color(hex: "#000000"),
                    border_color: Color(hex: "#214764"),
                    gap: Vec2(x: 0.0, y: 8.0),
                    notification_hook: Hook(parent_anchor: BM, self_anchor: TM),
            )),
        ),
                (
            name: "sys_notify_image",
            parent: "sys_notify_root",
            hook: Hook(parent_anchor: BM, self_anchor: TM),
            offset: Vec2(x: 0, y: 0),
            params: ImageBlock((
                    image_type: Hint,
                    padding: Padding(left: 10, right: 10, bottom: 10, top: 10.0),
                    rounding: 4.0,
                    scale_width: 84,
                    scale_height: 84,
                    filter_mode: Lanczos3,
            )),
        ),
        (
            name: "sys_notify_progress",
            parent: "sys_notify_image",
            hook: Hook(parent_anchor: BM, self_anchor: TM),
            offset: Vec2(x: 0, y: 0),
            render_criteria: [Progress],
            params: ProgressBlock((
                padding: Padding(left: 10.0, right: 10.0, top: 0.0, bottom: 10.0),
                border_width: 2.0,
                border_rounding: 0.0,
                fill_rounding: 0.0,
                border_color: Color(hex: "#214764"),
                background_color: Color(hex: "#000000"),
                fill_color: Color(hex: "#214764"),
                width: -1.0,
                height: 10.0,
            )),
        ),
        (
            name: "sys_notify_perc",
            parent: "sys_notify_progress",
            hook: Hook(parent_anchor: BM, self_anchor: TM),
            offset: Vec2(x: 0.0, y: -7.0),
            // https://github.com/Toqozz/wired-notify/wiki/ScrollingTextBlock
            render_criteria: [Progress],
            params: TextBlock((
                text: "%b %",
                font: "Hasklug Nerd Font Mono 11",
                color: Color(hex: "#ffffff"),
                color_hovered: Color(hex: "#fbf1c7"),
                padding: Padding(left: 7.0, right: 7.0, top: 5.0, bottom: 7.0),
                dimensions: (width: (min: -1, max: -1), height: (min: -1, max: -1)),
            )),
        ),

],

        // https://github.com/Toqozz/wired-notify/wiki/Shortcuts
        shortcuts: ShortcutsConfig (
            notification_interact: 1,
            notification_close: 2,
            notification_action1: 3,
        ),
    )
